@font-face {
  font-family: "BigShouldersStencil";
  src: url("./BigShouldersStencil.woff2");
}

@font-face {
  font-family: "Audiowide-Regular";
  src: url("./Audiowide-Regular.ttf");
}

html {
  background-color: black;
}

body {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  font-family: Audiowide-Regular;
  font-size: 1.5rem;
}

@keyframes marcosclave1 {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

h1 {
  grid-column: 1 / 3;
  text-align: center;
  font-family: "BigShouldersStencil";
  color: grey;
  font-size: 7rem;
  text-shadow: 0 0 0.5rem rgb(162, 0, 255);

  animation: marcosclave1 2s linear 0s infinite alternate;
}

h2 {
  grid-column: 1 / 3;
  color: goldenrod;
  font-size: 2rem;
}

.name {
  margin-bottom: 1rem;
  color: forestgreen;
}

input {
  background-color: grey;
  border-style: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(150, 150, 150);
}

input::placeholder {
  color: rgb(64, 64, 64);
}

input:focus {
  outline-style: none;
  background-color: olivedrab;
}

button {
  grid-column: 1 / 3;
  justify-self: center;
  margin: 1rem;
  padding: 1rem;
  background-color: orangered;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  animation: marcosclave1 2s linear 0s infinite alternate;
  width: max-content;
}

button:hover {
  background-color: rgb(255, 32, 0);
  transform: scale(1.05);
  cursor: pointer;
}

button.placeRandomShips {
  background-color: rgb(128, 0, 255);
}

button.placeRandomShips:hover {
  background-color: rgb(64, 0, 255);
}

.messages {
  margin-bottom: 1rem;
  grid-column: 1 / 3;
  color: green;
}

.battleBegins {
  grid-column: 1 / 2;
}

.gameboard {
  display: flex;
  margin: 1rem;
  cursor: crosshair;
}

.column {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rowDraggable {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.hidden {
  display: none;
}

.square {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.1rem;
  border-radius: 0.5rem;
}

.square:hover {
  opacity: 0.7;
}

.notAttacked {
  background-color: grey;
}

@keyframes water {
  from {
    transform: rotateZ(-10deg);
    background-color: rgb(0, 0, 192);
  }
  to {
    transform: rotateZ(10deg);
    background-color: rgb(0, 0, 255);
  }
}

.water {
  background-color: blue;
}

.waterAnimation {
  position: relative;
  z-index: 999;
  animation: water 1s linear 0s infinite alternate;
}

.square.questionTrans {
  transform: rotateX(720deg);
  transition: transform 1000ms ease-in-out;
}

.square.ship {
  background-color: brown;
}

.shipTrans {
  transform: rotateY(720deg);
  transition: transform 1000ms ease-in-out;
}

.square.sunkenShip {
  background-color: red;
  transform: rotateZ(720deg);
  transition: transform 1000ms ease-in-out;
}

.square.lastSunkenShip {
  background-color: red;
  transform: rotateZ(720deg) scale(8);
  transition: transform 1000ms ease-in-out;
}

.square.attacked {
  border-style: solid;
  border-color: red;
  transition: transform 1000ms ease-in-out;
}

.square.attacked.attackedTrans {
  transform: rotateZ(720deg) scale(10);
}

@keyframes marcosclave {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(2);
  }
}

.square.lastAttacked {
  animation: marcosclave 1s linear 0s infinite alternate;
}

button.toggleBoards {
  font-size: 1.5rem;
  text-align: center;
  background-color: orangered;
  border-radius: 1rem;
  border-width: 1rem;
  border-style: none;
  padding: 1rem;
}

button.battleBegins {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(162, 0, 255);
  border-radius: 1rem;
  border-width: 1rem;
  border-style: none;
  padding: 1rem;
}

button.showHiddenBoards {
  font-size: 1.5rem;
  text-align: center;
  background-color: orangered;
  border-radius: 1rem;
  border-width: 1rem;
  border-style: none;
  padding: 1rem;
}
