html {
	background-color: black;
}

.gameboard {
  display: flex;
  margin: 1rem;
  cursor: crosshair;
}

.gameboard.hidden {
	display: none;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  border-style: solid;
	border-color: black;
	border-radius: 0.5rem;
}

.square:hover {
  opacity: 0.7;
}

.square.water {
  background-color: blue;
}

.square.ship {
  background-color: brown;
}

.square.sunkenShip {
  background-color: red;
}

.notAttacked {
  background-color: grey;
}

.attacked {
  border-style: solid;
  border-color: red;
}
